
<div class="row">
    <div class="col-sm-6">
        <select (change)="onChange($event.target.value, false)" class="form-control">
            <option>USD</option>
            <option>NOK</option>
            <option>CNY</option>
            <option>NOK</option>
            <option>NZD</option>
            <option>EUR</option>
        </select>
    </div>
</div>
<div class="row">    
    <div class="col-sm-5">
        <input type="number" [(ngModel)]="amount"  class="form-control" placeholder="Please enter the amount" (change)="amountChanged()"> <br>
    </div> 
    <div class="col-sm-3">
        <p><b>{{selectedCurrency}}</b> {{convertedAmount}}</p>
    </div>
    <div class="col-sm-4">
        <p><b>Charges : {{baseCurrency}}</b> {{charges}}</p>
    </div>        
</div>


               

