
<div class="row">
    <div class="col-sm-6">
        <select (change)="onChange($event.target.value, false)">
            <option>USD</option>
            <option>NOK</option>
            <option>CNY</option>
            <option>NOK</option>
            <option>NZD</option>
            <option>EUR</option>
        </select>
    </div>
</div>
<div class="row">    
    <div class="col-sm-6">
        <input type="number" [(ngModel)]="amount"  (change)="amountChanged()"> <br>
    </div>    
</div>

<div class="row">
    <div class="col-sm-12">
        <span>{{selectedCurrency}} {{convertedAmount}}</span>
        <!-- <span> Charges : {{charges}}</span> -->
    </div>
</div>

               

