<div class="container mainDiv" *ngIf="myAccountDetails">
    <div class="row">
        <div class="col-sm-12">
            <h5>Funds Transfer</h5>
            <ul class="list-group">
              <li class="list-group-item active">My account info</li>
              <li class="list-group-item"><app-forex-card [accountDetails]="myAccountDetails" [controls]="false"></app-forex-card></li>  
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item active">Beneficiary account info</li>
              <li class="list-group-item"><app-forex-card [accountDetails]="myAccountDetails" [controls]="true" (confirmEvent)="showConfirmationPopDetails($event)"></app-forex-card></li>  
            </ul>
            <br>  
        </div>
    </div>
    <div *ngIf="errorList.length">        
        <p class="error" *ngFor="let error of errorList">{{error}}</p>
    </div>  
    <br>     
  </div>

  <div  *ngIf="confirmationPayload" class="modal" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
                <div class="col-sm-6">My account number</div>
                <div class="col-sm-6">: {{confirmationPayload.fromAccountNumber}}</div>
          </div>
          <div class="row">
            <div class="col-sm-6">To account number</div>
            <div class="col-sm-6">: {{confirmationPayload.toAccountNumber}}</div>
          </div>
          <div class="row">
            <div class="col-sm-6">Amount to transfer</div>
            <div class="col-sm-6">: {{confirmationPayload.toCurrency}} {{confirmationPayload.toAmount}}</div>
          </div>
          <div class="row">
            <div class="col-sm-6">Charges</div>
            <div class="col-sm-6">: {{confirmationPayload.fromCurrency}} {{confirmationPayload.charges}}</div>
          </div> 
          <div class="row">
            <div class="col-sm-6">Total</div>
            <div class="col-sm-6">: {{confirmationPayload.fromCurrency}} {{total}}</div>
          </div>  
          <div class="row">
            <div class="col-sm-6">Description</div>
            <div class="col-sm-6">: {{confirmationPayload.description}}</div>
          </div>                                                  
        </div>
        <div class="modal-footer btnspace">
          <div *ngIf="errorFlag">
            <p class="error">Something went wrong, Transaction unsuccessful</p><br><br>
          </div>  
          <div>
            <button type="button" class="btn btn-primary " (click)="transactionConfirmed()">Transfer</button>
          </div>        
        </div>
      </div>
    </div>
  </div>  

