<div class="user-container">
    <br>
    <h2 style="margin: auto; text-align:center"> Transcation Details</h2>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>

                <th>AccountNumber</th>
                <th>TransactionDate</th>
                <th>Amount</th>
                <th>Currency
                <th>
                <th>TransactionType</th>
                <th>Description</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let history of myHistory">
                <td>{{history.accountNumber}}</td>
                <td>{{history.transactionDate}}</td>
                <td>{{history.amount}}</td>
                <td>{{history.currency}}</td>
                <td>{{history.transactionType}}</td>
                <td>{{history.description}}</td>


            </tr>
        </tbody>
    </table>
</div>